.buildozer
app/node_modules/
bin
buildozer.spec
build.log
recipes/**/*.pyc
src/main/assets/index.android.bundle
src/main/assets/index.android.bundle.meta
*.log
.vagrant

lbry-android.keystore
.gitsecret/keys/random_seed
